* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Inter', sans-serif;
}
html,
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
input {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
#root {
    position: relative;
    width: 100vw;
    height: 100vh;
}
img {
    pointer-events: none;
}
a {
    text-decoration: none;
}